/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;600&family=Unbounded:wght@700&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(30, 100%, 58%);
  --black-color: hsl(220, 12%, 8%);
  --white-color: hsl(48, 90%, 90%);
  --text-color: hsla(0, 2%, 34%, 0.678);
  --body-color: hsl(0, 0%, 100%);
  --shadow-img: drop-shadow(0 16px 24px hsla(0, 0%, 0%, .2));

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Montserrat Alternates", sans-serif;
  --second-font: "Unbounded", sans-serif;
  --biggest-font-size: 3rem;
  --bigger-font-size: 2.5rem;
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-semi-bold: 600;
  --font-bold: 700;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1150px) {
  :root {
    --biggest-font-size: 6rem;
    --bigger-font-size: 4.5rem;
    --big-font-size: 3.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
input,
button {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--black-color);
}

input,
button {
  border: none;
  outline: none;
}

h1, h2, h3, h4 {
  color: var(--title-color);
  font-weight: var(--font-bold);
  font-family: var(--second-font);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  /* max-width: 100%; */
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 5rem 1rem;
}

.section__title, 
.section__subtitle {
  text-align: center;
  font-family: var(--second-font);
}

.section__title {
  font-size: var(--big-font-size);
  margin-bottom: 1rem;
}

.section__subtitle {
  display: block;
  font-size: var(--h2-font-size);
  margin-bottom: .25rem;
}

.main {
  overflow: hidden;
}

/*=============== HEADER & NAV ===============*/
.section__header{
  width: 100%;
  height: 100vh;
}
 
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav .nav__logo{
    display: inline-flex;
    align-items: center;
    column-gap: .25rem;
}

.nav .nav__logo img{
    width: 100px;
    background-color: white;
}

.nav .nav__logo span{
 color: var(--black-color);
 font-weight: bold;
 font-size: 35px;   
}

.nav .nav__menu{
   width: 800px;
}

.nav .nav__menu .nav__list{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav .nav__menu .nav__list .nav__link{
    color: var(--text-color);
    font-size: 20px;
}

.nav .nav__menu .nav__list .active{
    color: var(--black-color);
    font-weight: bolder;
}

.contact__button .contact__link{
    background-color: var(--black-color);
    color: var(--body-color);
    border-radius: 30px;
    padding: 20px;
}

