/*=============== GOOGLE FONTS ===============*/

        /* Import Google fonts here */

/*=============== VARIABLES CSS ===============*/
:root{
    --bg:#0e0e0f;
    --text:#e9e9ea;
    --muted:#b9b9bb;
    --white:#ffffff;
    --black:#000000;
    --surface:#1a1a1b;
    --surface-2:#111113;
    --shadow:0 10px 30px rgba(0,0,0,.35);
    --radius-outer:22px;
    --radius-inner:14px;
    --header-height: 80px;
}

/*=============== BASE ===============*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,body{
  height:100%;
}

body{
  margin: 0;
  font-family: "Inter",system-ui,-apple-system,"Segoe UI",Roboto,Arial,Helvetica,sans-serif;
  /* color : var(--text); */
  /* background : var(--surface-2); */
}

/*=============== REUSABLE CSS CLASSES ===============*/

.container{
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 24px;
}

/*=============== HEADER & NAV ===============*/

.site-header{
  position: sticky;
  top: 0;
  z-index: 10;
  background: transparent;
}

.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--header-height);
  color:#1b1b1c;
  margin-top:16px;
  background:var(--white);
}

.brand{
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
}

.logo-mark{
  width: 60px;
  height: 60px;
}

.logo-mark img{
  object-position: center;
  object-fit: cover;
  width: 100%;
}

.brand-name{
   font-weight: 700;
   font-size: 2rem;
}

.main-nav{
  display: flex;
  gap: 80px;
}

.nav-link{
  color:#5b5b60;
  text-decoration: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 1.2rem;
}

.active{
  color: #0e0e0f;
}

.btn{
  text-decoration: none;
  font-weight:700;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  border-radius:999px;
}

.btn-dark{
  background-color: #0e0e0f;
  color:var(--white);
  font-size: 1.1rem;
  padding:12px 18px;
}

.btn-light{
  background: var(--white);
  color:#111113;
  font-size: 20px;
  padding: 18px;
}

.btn-ghost{
  background:rgba(148, 141, 141, 0.603);
  color: var(--white);    
  padding: 18px;
  border: rgba(255,255,255,.25);
  font-size: 20px;
}

.btn-ghost-clear {
    color: var(--white);
    border: rgba(255, 255, 255, .25);
    font-size: 20px;
}

/*=============== HERO ===============*/

.hero{
  position: relative;
  margin: 18px 24px 60px;
  max-width: none;
  min-height: calc(100vh - 80px - 18px - 60px);
}

.hero-media{
  position: relative;
  border-radius:var(--radius-outer);
  overflow:hidden;
  height: 88%;
}

.hero-img{
  display:block;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius:var(--radius-outer)
}

.hero-overlay{
  position: absolute;
  inset: 0;
  background:linear-gradient(180deg,rgba(0,0,0,.35),rgba(0,0,0,.35))
}

.hero-content{
  position: absolute;
  inset: 0;
  padding: 58px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.hero-title{
  font-size: 5rem;
  color: var(--text);
  margin:0 0 14px;
  line-height:1.20;
  font-weight:800;
  font-size:5.938rem;
  max-width:880px;
}

.hero-solar{
  color: var(--muted);
}

.hero-subtitle{
  margin:auto 0;
  color:#e0e0e0;
  max-width:620px;
  font-size: 24px;
}

.hero-ctas{
  display:flex;
  gap:14px;
  /* margin-bottom:auto */
}

.product-card{
  position: absolute;
  background-color: rgba(148, 141, 141, 0.603);
  right:58px;
  bottom:58px;
  display: flex;
  gap: 14px;
  align-items: center;
  backdrop-filter: blur(1px);
  border-radius: 18px;
  max-width:auto;
  color:var(--white);
  padding: 14px;
  max-width: 540px;
}

.product-thumb{
  flex: 0 0 auto;
  width: 160px;
  height: 150px;
  border-radius: 12px;
  overflow: hidden;
  border: 3px solid rgba(255,255,255,.6)
}

.product-thumb img{
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
}

.product-global{
  display: flex;
  flex-direction: column;
}

.product-info{
   flex:1 1 auto;
}

.product-title{
  font-size: 20px;
  margin: 0 0 16px;
}

.product-desc{
  margin: 0 0 20px;
}

.product-actions{
  display: flex;
  gap: 8px;
}

.chip{
  cursor: pointer;
}

/*=============== ABOUT ===============*/

.about-section{
  color: #1b1b1c;
  padding: 30px 0;
}

.about-content{
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  padding: 20px;
  /* gap: 80px; */
}

.about-left{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.section-label{
  font-size: 23px;
  font-weight: 600;
  text-transform: uppercase;
}

.team-avatars{
  display: flex;
  gap: -8px;
}

.avatar{
  width: 80px;
  height: 80px;
  border-radius: 35%;
  overflow: hidden;
  border:3px solid var(--white);
  margin-left:-8px;
  box-shadow:0 4px 12px rgba(0,0,0,.15);
}

.avatar:first-child{
  margin-left: 0;
}

.avatar img{
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
}

.team-count{
  font-size: 28px;
  font-weight: 800;
}

.team-description{
  font-size:28px;
  color:#5b5b60;
  font-weight:500
}

.about-right{
  flex:1 1 auto;
  display:flex;
  flex-direction:column;
  gap:24px;
  max-width: 715px;
}

.about-headline{
  font-size:50px;
  font-weight:800;
  line-height:1.1;
  margin:0;
  color:#1b1b1c;
}

.highlight{
  color:#5b5b60;
  font-weight:600;
} 

.about-description{
  font-size:18px;
  line-height:1.6;
  color:#5b5b60;
  margin:0;
  max-width:580px;
}

.about-cta{
  align-self:flex-start;
  padding:16px 24px;
  font-size:16px;
}

/*=============== POPULAR PRODUCT ===============*/

.product-section{
  padding: 30px 0;
}

.product-content{
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  gap:40px;
  min-height:600px;
}

.popular-productCard{
  background:#f8f8f8;
  flex: 0 0 auto;
  border-radius: 20px;
  padding: 32px;
  display: flex;
  flex-direction:column;
  max-width: 50%;
  justify-content: space-between;
}

.popular-productCard .section-label{
  font-size: 23px;
  margin-bottom: 30px;
}

.popular-productCard .product-title{
  font-size: 4rem;
  line-height: 1.2;
}

.product-description{
  font-size: 1.3rem;
  line-height:1.5;
  color:#666666;
  /* margin:0 0 24px 0; */
  flex:1;
}

.specifications{
  margin-bottom:24px;
  padding-top:16px;
  border-top:1px solid #f0f0f0;
}

.spec-item{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:8px 0;
  font-size:1.3rem;
}

.spec-label{
  font-weight:600;
  color:#1b1b1c;
}

.spec-value{
  color:#666666;
  font-weight:500;
}

.product-actions{
  display:flex;
  gap:12px;
  margin-top:auto;
}

.product-btn{
  padding: 12px 20px;
  font-size: 13px;
  border-radius: 8px;
}

.product-image{
  flex:1 1 auto;
  border-radius:20px;
  overflow:hidden;
}

.product-image img{
  width:100%;
  height:100%;
  object-fit:cover;
  display:block;
}

/*=============== PROCESS ===============*/

.process-section{
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  margin: 2rem 2rem;
  /* max-width: 1200px; */
}

.process-slide{
  position: relative;
  width: 100%;
  height: 900px;
}

.process-bg{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.process-label{
  position: absolute;
  top: 30px;
  left: 50px;
  font-size: 23px;
  font-weight: 600;
  color: var(--white);
}

.process-overlay{
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 3rem;
  color: var(--white);
}

.process-overlay > * {
  flex: 1;
}

.process-step{
  max-width: 250px;
}

.process-step h2 {
  font-size: 4rem;
  font-weight: 500;
  opacity: 0.9;
}

.process-step h2 span{
  color: var(--muted);
}

.process-content {
  max-width: 800px;
}

.process-content h3 {
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 1rem;
}

.process-content h3 span{
    color: var(--muted);
}

.process-content p {
  font-size: 1.4rem;
  line-height: 1.6;
  opacity: 0.85;
}

.process-footer {
  position: absolute;
  bottom: 1.5rem;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
}

.process-bar {
  flex: 1;
  height: 4px;
  background: rgba(255,255,255,0.4);
  border-radius: 2px;
  overflow: hidden;
  margin-right: 1rem;
}

.progress {
  width: 75%; 
  height: 100%;
  background: #fff;
}

.process-nav {
  display: flex;
  gap: 0.5rem;
}

/*=============== PRODUCT GRID SECTION ===============*/

.product-grid-section{
  color:#1b1b1c;
  padding: 80px 0;
}

.product-header{
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: start;
  gap: 16px;
  margin-bottom: 32px;
}

.product-title h2{
  font-size: 50px;
  max-width: 650px;
  margin-bottom: 40px;
}

.product-title span{
  color: #b3b3b6;
}

.product-cta{
  justify-self:start;
  background:#efefef;
  color:#111113;
  font-size: 20px;
  padding: 18px;
  border-radius:999px;
}

.product-grid{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 24px;
}

.pg-card{
  display: block;
}

.pg-media{
  position: relative;
  border-radius: 28px;
  overflow: hidden;
}

.pg-media img{
  display: block;
  width: 100%;
  height: 320px;
  object-fit: cover;
}

.pg-meta{
  margin: 18px 0 10px 0;
  color:#888;
  font-size:20px;
  font-weight:700;
  letter-spacing:.6px;
}

.pg-title{
  margin: 0 0 6px 0;
  font-size: 30px;
  color:#1b1b1c
}

.pg-subtitle{
  margin: 0;
  color: #9b9ba0;
  font-size: 30px;
  line-height: 1.2
}

/*=============== FOOTER ===============*/

.footer {
  margin: 2rem auto;
}

.footer-card {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 2rem;
  background: #0e0e0f;
  color: #fff;
  border-radius: 20px;
  padding: 3rem;
}

.footer-left .logo {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  margin-bottom: 1rem;
}

.footer-left .logo img {
  width: 80px;
  height: 80px;
}

.footer-left h2 {
  font-size: 3rem;
  font-weight: 700;
}

.footer-left .address {
  font-size: 1.6rem;
  line-height: 1.6;
  margin-bottom: 13rem;
  color: #ccc;
}

.socials {
  display: flex;
  gap: 1rem;
}

.socials a {
  background: #1c1c1c;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ccc;
  transition: 0.3s;
  text-decoration: none;
}

.socials a:hover {
  background: #fff;
  color: #111;
}

.footer-right h1 {
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.1;
  margin-bottom: 1.5rem;
  max-width: 800px;
}

.footer-right .highlight {
  color: #fff;
  font-weight: 700;
}

.footer-right .footer-clean{
  color: var(--muted);
}

.footer-right .description {
  font-size: 1.3rem;
  line-height: 1.6;
  margin-bottom: 3.6rem;
  color: #ddd;
  max-width: 450px;
}

.cta-buttons {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.footer-bottom {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  font-size: 1.2rem;
  color: #555;
  padding: 0 30px;
}

.footer-bottom a {
  color: #555;
  text-decoration: none;
  transition: 0.3s;
}

.footer-bottom a:hover {
  color: #111;
}

.footer-nav {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.footer-nav li a {
  color: #555;
  font-weight: 500;
  text-decoration: none;
}

.footer-nav li a:hover {
  color: #111;
}