/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;600&family=Unbounded:wght@700&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(30, 100%, 58%);
  --black-color: hsl(220, 12%, 8%);
  --white-color: hsl(48, 90%, 90%);
  --text-color: hsla(0, 2%, 34%, 0.678);
  --grey-color: hsla(0, 12%, 87%, 0.87);
  --grey-white: hsla(0, 18%, 93%, 0.336);
  --body-color: hsl(0, 0%, 100%);
  --shadow-img: drop-shadow(0 16px 24px hsla(0, 0%, 0%, .2));

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Montserrat Alternates", sans-serif;
  --second-font: "Unbounded", sans-serif;
  --biggest-font-size: 3rem;
  --bigger-font-size: 2.5rem;
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-semi-bold: 600;
  --font-bold: 700;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1150px) {
  :root {
    --biggest-font-size: 6rem;
    --bigger-font-size: 4.5rem;
    --big-font-size: 3.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
input,
button {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--black-color);
}

input,
button {
  border: none;
  outline: none;
}

h1, h2, h3, h4 {
  color: var(--title-color);
  font-weight: var(--font-bold);
  font-family: var(--second-font);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  /* max-width: 100%; */
  margin-inline: 55px;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 5rem 1rem;
}

.section__title, 
.section__subtitle {
  text-align: center;
  font-family: var(--second-font);
}

.section__title {
  font-size: var(--big-font-size);
  margin-bottom: 1rem;
}

.section__subtitle {
  display: block;
  font-size: var(--h2-font-size);
  margin-bottom: .25rem;
}

.main {
  overflow: hidden;
}

/*=============== HEADER & NAV ===============*/
.section__header{
  width: 100%;
  height: 100vh;
}
 
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10%;
}
.nav .nav__logo{
    display: inline-flex;
    align-items: center;
    column-gap: .25rem;
}

.nav .nav__logo img{
    width: 60px;
    background-color: white;
}

.nav .nav__logo span{
 color: var(--black-color);
 font-weight: bold;
 font-size: 40px;   
}

.nav .nav__menu{
   width: 700px;
}

.nav .nav__menu .nav__list{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav .nav__menu .nav__list .nav__link{
    color: var(--text-color);
    font-size: 20px;
}

.nav .nav__menu .nav__list .active{
    color: var(--black-color);
    font-weight: bolder;
}

.contact__button .contact__link{
    background-color: var(--black-color);
    color: var(--body-color);
    border-radius: 30px;
    padding: 20px;
}

.presentation{
    margin: 0 20px;
    border-radius: 40px;
    overflow: hidden;
    height: 88%;
}

.presentation .slogan{
    /* width: 100%; */
    height: 100%;
    position: absolute;
}

.presentation .slogan h1{
    color: var(--body-color);
    font-size: 70px;
    text-align: left;
    position: relative;
    top: 55px;
    left: 50px;
    line-height: 80px;
    width: 770px;
}

.presentation .slogan p{
    color: var(--text-color);
    font-size: 85px;
    font-weight: bold;
    text-align: left;
    position: relative;
    top: 55px;
    left: 50px;
    line-height: 80px;
}

.presentation .explore{
    position: absolute;
    top: 790px;
    left: 80px;
    display: flex;
    align-items: start;
    justify-content: space-between;
    width: 92%;
}

.presentation .explore .explore__1 p{
    color: var(--grey-color);
    font-size: 25px;
    width: 680px;
    line-height: 40px;
}

.presentation .explore .explore__1 .explore__button{
    background-color: var(--body-color);
    color: var(--black-color);
    border-radius: 30px;
    padding: 24px;
    margin: 0 10px 0 0;
    position: relative;
    top: 80px;
}

.presentation .explore .explore__1 .explore__button .explore_span_1{
    font-weight: bold;
    font-size: 20px;
}

.presentation .explore .explore__1 .explore__play{
    background-color: var(--black-color);
    color: var(--body-color);
    padding: 24px;
    margin: 0 0 0 10px;
    border-radius: 30px;
    position: relative;
    top: 80px;
}

.presentation .explore .explore__1 .explore__button .explore_span_2{
    font-weight: bolder;
    font-size: 20px;
}

.presentation .explore .explore__2{
    backdrop-filter: blur(10px);
    height: 200px;  
    display: flex;
    align-items: center;
    border-radius: 20px;

    padding: 10px;
    column-gap: 22px;
    /* justify-content: space-around; */
}

.presentation .explore .explore__2 .explore__image{
    border-radius: 20px;
    overflow: hidden;
}

.presentation .explore .explore__2 .explore__image img{
    width: 200px;
    height: 180px;
    /* height: max-content; */
    object-fit: cover;
}

.presentation .explore .explore__2 .explore__suncryst{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 180px;
}

.presentation .explore .explore__2 .explore__suncryst h3{
    color: var(--body-color);
    /* margin-bottom: 20px; */
}

.presentation .explore .explore__2 .explore__suncryst p{
    color: var(--grey-color);
    font-size: 15px;
    width: 350px;
}

.about__section{
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin-top: 70px;
}

.about__section .about_us{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  height: 500px;
}


.about__section .about_us .about__us_images .about_profiles{
   display: flex;
   align-items: end;
   margin-bottom: 50px;
   margin-left: 25px;
}

.about__section .about_us .about__us_images .about_profiles div{
  border-radius: 40%;
  overflow: hidden;
  border: solid 5px #fff;
  height: 80px;
  width: 80px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
   margin-left: -20px; /* chevauchement */
  z-index: 1;
}

.about_profiles div:first-child {
  margin-left: 0; /* pas de marge pour la première image */
}

.about__section .about_us .about__us_images .about_profiles div img{
  width: 150px;
  height: 90px;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: contain;
}

.about__section .about_us h4{
    font-size: 22px;
}

.about__section .about_us .about__us_images p{
  font-size: 25px;
  color: var(--text-color);
}

.about__section .about_description{
  width: 750px;
}

.about__section .about_description h1{
  font-size: 50px;
  margin-bottom: 35px;
}

.about__section .about_description h1 span{
  color: var(--text-color);
}

.about__section .about_description p{
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 70px;
  width: 650px;
}

.about__section .about_description a{
  background-color: var(--black-color);
  border-radius: 40px;
  padding: 20px;
  color: var(--body-color);
}

.popular_product{
  background-color: var(--grey-white);
  border-radius: 40px;
  padding: 40px;
}

.popular__product{
  display: flex;
  justify-content: space-between;
  align-items: stretch; 
  margin-top: 70px;
  margin-bottom: 50px;
  flex-wrap: wrap;
}

.popular__product .popular_product_image{
  border-radius: 40px;
  overflow: hidden;
}
.popular__product .popular_product_image img{
  width: 750px;
  height: 800px;
  object-fit: cover;
}

.popular_product{
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: space-between;
}

.popular_product h4{
  font-size: 22px;
}

.popular_product_suncryst h1{
  font-size: 50px;
  width: 900px;
  margin-bottom: 40px;
}

.popular_product_suncryst h1 span{
  color: var(--text-color);
}

.popular_product_suncryst p{
  font-size: 20px;
  width: 700px;
}

.popular_product_specification{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  height: 150px;
}

.popular_product_specification ul{
  list-style:disc;
  margin-left: 20px;
}

.popular_product_specification ul li{
  margin-bottom: 15px;
}

.popular_product_specification ul > li:last-child{
  margin-bottom: 0;
}

.popular_product_buttons .talk{
  background-color: var(--black-color);
  border-radius: 40px;
  padding: 20px;
  color: var(--body-color);
}

.popular_product_buttons .explore_button{
  background-color: grey;
  border-radius: 40px;
  padding: 20px;
  font-weight: bold;
  color: var(--black-color);
  margin-left: 20px;
}

.popular__product .carousel{
  margin-top: 40px;
  border-radius: 40px;
  overflow: hidden;
  width: 100%;
  height: 900px;
}

.popular__product .carousel img{
  object-fit: cover;
  object-position: center;
  width: 100%;          
  height: 100%;  
}

.carousel {
  position : relative;
}

.carousel h4{
  position:absolute;
  top: 30px;
  left: 30px;
  font-size: 22px;
  color: var(--body-color);
}

.carousel .carousel_description{
  display: flex;
  align-items: start;
  justify-content: space-between;
  position: absolute;
  top: 400px;
  left: 30px;
  width: 100%;
}

.carousel .carousel_description h1{
  font-size: 60px;
  color: var(--body-color);
}

.carousel .carousel_description .carousel_slogan{
  width: 900px;
}

.carousel .carousel_description .carousel_slogan h2{
  font-size: 50px;
  color: var(--body-color);
}

.carousel .carousel_description .carousel_slogan h2 span{
  color: var(--grey-color);
}

.carousel .carousel_description .carousel_slogan p{
  font-size: 25px;
  color: var(--body-color);
  width: 700px;
}

.product__section .explore_product{
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin-bottom: 80px;
}

.product__section .explore_product h4{
  font-size: 22px;
}

.explore_product .explore_product_slogan{
  width: 720px;
}

.explore_product .explore_product_slogan h1{
  font-size: 50px;
  margin-bottom: 60px;
}

.explore_product .explore_product_slogan h1 span{
  color: var(--text-color);
}

.explore_product .explore_product_slogan a{
  background-color: grey;
  border-radius: 40px;
  padding: 20px;
  font-weight: bold;
  color: var(--black-color);
}

.card_images .card_image{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  width: 550px;
  height: 580px;
}

.card_images .card_image img{
  object-fit: fill;
  object-position: center;
  border-radius: 20px;
  width: 100%;
  height: 367px;
}

.card_images .card_image h2{
  color: var(--text-color);
}

.card_images .card_image p{
  font-size: 30px;
  width: 420px;
}

.card_images .card_image p span{
  color: var(--text-color);
}

.card_images{
  display: flex;
  align-items: center;
  justify-content: space-around;
}